<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <img
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <%# isSelf replaces profile._id.equals(user.profile._id) %> 
  <% if (isSelf){ %>
    <h1><em>"You Have Flight Control..."</em></h1>
  <% } else { %>
    <h1>It's <%= profile.name %>'s profile!</h1>
  <% }%> 
  
  <% if (isSelf) { %>
    <h2>Add a plan!</h2>
    <form action="/profiles/<%= profile._id %>/planes" method="POST">
      <label>
        Brand:
        <input type="text" name="brand" autocomplete="off">
      </label>
      <label>
        Model:
        <input type="text" name="model" autocomplete="off">
      </label>
      <label>
        Color:
        <input type="text" name="color" autocomplete="off">
      </label>
      <button type="submit">Add plane</button>
    </form>
  <% } %>


  <% if (profile.planes.length) { %> 
    <h2>
      <%= isSelf ? "Here are the planes you have" : `Here are the planes ${profile.name} has` %> flown! 
    </h2>
    <% profile.planes.forEach(plane => { %>
      <h3>
        <%= plane.brand %> <%= plane.model %> <%= plane.color %>
        <% if (isSelf) { %>
          <a href="/profiles/<%= profile._id %>/planes/<%= plane._id %>/edit">Edit a plane</a>
          <form 
            action="/profiles/planes/<%= plane._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block;"
          >
            <button type="submit">Delete <%= plane.brand %> <%= plane.model %></button>
          </form>
        <% } %>   
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You" : `${profile.name}` %> hasn't added a plane! 
    </h2>
  <% } %>
</main> 

<%- include('../partials/footer') %>
