<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/topics/edit.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <img
      class="profile-avatar"
      src="<%= topic.owner.avatar %>" 
      alt="<%= topic.owner.name %>'s avatar"
    >
  </div>

  <h2>Edit Comment!</h2>
  <form action="/topics/<%= topic._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
  <label for="content-textarea"></label>
  <textarea name="content" id="content-textarea"></textarea>
  <button type="submit">Submit</button>
</form>

</main> 

<%- include('../partials/footer') %>