<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Club Members</h1>
  <h2>All Topics</h2>

  <h2>List of Topics</h2>
  <!-- Try adding ejs -->
  <div>
    <ul>
      <% topics.forEach(topic => { %>
        <img src="<%= topic.owner.avatar %>" alt="<%= topic.owner.name %>">
        <li>  
          <a href="/topics/<%= topic._id %>"><%= topic.text %></a>
          </li>
      <% }) %>
    </ul>
</div>
</section> 


<%- include('../partials/footer') %>