<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= topic.text %> </h1>
  <% if (user) { %>
    <h2>Add to discussion</h2>
    <form 
      action="/topics/<%= topic._id %>/comments"
      method="POST"
    >
    <label for="content-textarea">Comment:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button class="btn" type="submit">
      Submit 
    </button>
    </form>
    <% } %>
    
    <% if (topic.comments.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody> 
          <% topic.comments.forEach(comment => { %>
            <tr>
              <td><%= comment.createdAt.toLocaleDateString() %></td>
              <td><%= comment.content %></td>
              <td>
                <% if (topic.owner.equals(user?.profile._id)) { %>
                  <a href="/topics/<%= topic._id %>/comments/<%= comment._id %>/edit">Edit</a>
                <% } %>
              </td>
            </tr>
          <% }) %>
          <tr>
            <td colspan="2"></td>
          </tr>
        </tbody>
      </table>
    <% } else { %>
      <h3>No Comments Yet</h3>
    <% } %>
</section>

<%- include('../partials/footer') %>